
  body{
    font-family: 'Ubuntu Mono'
  }
  #intro{
    background-color: black;
    font-family: 'Ubuntu Mono - bold';
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav-item{
    padding: 0 1rem;
  }
  .login{
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-brand
  {
      letter-spacing: 2px;
  }

  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
